<% include header %>
<% include bar%>

<section id="post" class="container">
    <form class="am-form boy-form">
    <div class="am-form-group ">
        <input id="post-id" value="" type="hidden" >
        <textarea class="post" required rows="7" id="content" placeholder="举报描述"><%= page.content %></textarea>
    </div>
        <div class="am-form-group secretDiv">
   </div>
        <button type="button" id="submitButton" data-am-loading="{spinner: 'circle-o-notch', loadingText: '提交中...', resetText: '提交'}" class="am-btn am-btn-default am-btn-lg submitButton ">提交</button>
    </form>
</section>
<% include footer%>
<% include js%>
<script src="/javascripts/report.js"></script>
<script>
    console.log(getQueryString('id'))
</script>
</body>
</html>


